;; -*- mode: lisp -*-

(defpackage #:{{package_name}}
  (:nicknames #:{{package_nickname}})
  (:use #:common-lisp)
  (:local-nicknames (#:{{abbrev_name}} #:{{system_name}}))
  (:import-from #:{{abbrev_name}})
  (:documentation "{{package_symbol}}
"))

(in-package #:{{package_name}})
