;; -*- mode: lisp -*-

(defpackage #:{{package_user_fullname}}
  (:nicknames #:{{package_user_nickname}})
  (:use #:common-lisp)
  (:import-from #:{{package_main_nickname}})
  (:documentation "{{package_user_symbol}}
"))

(in-package #:{{package_user_fullname}})
