;; -*- mode: lisp -*-

(defpackage #:{{package_test_fullname}}
  (:nicknames #:{{package_test_nickname}})
  (:use #:common-lisp)
  (:export #:test-all)
  (:documentation "{{package_test_symbol}}
"))

(in-package #:{{package_test_fullname}})

(defun test-all ()
  (loop
    with tests = '()
    for test in tests
    do (funcall test)
    finally (return t)))
