;; -*- mode: lisp -*-

(defsystem "{{system_name}}"
  :description ""
  :version "0.0.1"
  :author "{{author_name}} <{{author_email}}>"
  :license "Copyright © {{copyright_year}} {{author_name}} All rights reserved."
  :components ((:file "{{package_basename}}")
	       (:file "{{package_user_basename}}")))
